{
  "parser": "babel-eslint",
  "rules": {
    "camelcase": 2,
    "consistent-return": 2,
    "curly": [2, "multi"],
    "eol-last": 2,
    "eqeqeq": 2,
    "new-cap": [2, {"capIsNew": false}],
    "no-eq-null": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-trailing-spaces": 2,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": 2,
    "no-var": 2,
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "semi-spacing": 2,
    "space-before-blocks": [2, "always"],
    "space-before-function-parentheses": [2, "always"],
    "space-return-throw-case": 2,
    "strict": 0
  },
  "env": {
    "node": true
  }
}
