{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "curly": 0,
    "new-cap": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "no-shadow": 0,
    "quotes": [1, "single"]
  },
  "env": {
    "node": true
  }
}
