.hljs-keyword,
.hljs-built_in,
.hljs-label,
.hljs-attribute {
  color: var(--color-attribute);
}

.hljs-literal,
.hljs-number,
.hljs-subst {
  color: var(--color-literal);
}

.hljs-string {
  color: var(--color-link);
}

.hljs-comment {
  color: var(--color-alt);
}
