@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('Muli.woff') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('Muli-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('Muli-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  src: url('Muli-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('Inconsolata.woff') format('woff');
}
