@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('cabin_regular.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: url('cabin_italic.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('cabin_bold.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 700;
  src: url('cabin_bold_italic.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('inconsolata.woff') format('woff');
}
