article > h1.intro {
  color: var(--color-literal);
}

article > h1.intro::before {
  background: var(--color-literal);
  opacity: 0.32;
}

p.intro {
  color: var(--color-literal);
  font-size: calc(1em * 9 / 5);
  line-height: calc(var(--line-height) / ((9 / 5) / 2));
  padding-bottom: calc(var(--line-height) * (3 / 4) / ((9 / 5) / 2));
  margin: 0;
}

p.intro a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

.install-container::after {
  content: ' ';
  display: block;
  clear: both;
}

pre.install {
  color: var(--color-literal);
  display: block;
  float: left;
  margin: 0 0 calc(var(--line-height) * 3 / 2);
  background: none;
  border: 1px var(--color-literal) solid;
  border-radius: var(--border-radius);
  height: calc(var(--line-height) * 2);
  line-height: calc(var(--line-height) * 2 - 2px);
  padding: 0 calc(var(--line-height) * 2 / 3);
}

pre.install:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-right: none;
}

pre.install:last-of-type {
  font-family: inherit;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left-style: dotted;
}

pre.install a {
  color: inherit;
  text-decoration: none;
}

pre.install:first-of-type code::before {
  content: '$ ';
  opacity: 0.5;
}
