@media screen and (max-width: 900px) {
  body {
    font-size: calc(var(--size-body) - 2px);
  }

  header {
    background-color: var(--color-accent);
    text-align: center;
    padding-top: calc(var(--line-height) * 3 / 2);
  }

  header nav {
    padding: calc(var(--line-height) * 3 / 4) var(--line-height);
  }

  header nav a:after {
    margin-right: calc(1em * 2 / 3);
    padding-left: calc(1em * 2 / 3);
  }

  article {
    margin: calc(var(--line-height) * 3 / 2) auto;
  }

  :--header {
    margin-top: calc(var(--line-height) * 5 / 2);
  }

  footer {
    margin: calc(var(--line-height) * 5 / 2) auto;
  }

  .api > hr {
    height: calc(var(--line-height) * 3 / 2);
  }

  #corner {
    top: calc(var(--line-height) * -4 / 3);
    right: calc(-6.8em / (2 * 0.707106781));
    width: 9em;
  }

  #corner span {
    display: none;
  }
}


@media screen and (max-width: 640px) {
  body {
    font-size: calc(var(--size-body) - 3px);
  }
}
