@media screen and (max-width: 1124px) {
  body {
    padding-left: 0;
  }
}

@media screen and (max-width: 960px) {

  body {
    padding: 0;
  }

  main {
    max-width: 100%;
  }

  h1 {
    font-size: calc(1em * var(--small-size));
    line-height: calc(var(--line-height) / var(--small-size));
    margin-top: calc(var(--line-height) / var(--small-size) * -1 / 3);
    padding-top: calc(var(--line-height) / var(--small-size) * 4 / 3);
    margin-bottom: calc(var(--line-height) / var(--small-size) * 1);
  }

  nav {
    position: static;
    height: auto;
    width: 100%;
    overflow: visible;
    border-right: 0;
    border-bottom: 1px var(--color-offside) solid;
  }

  nav .logo, nav .type {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  nav .logo {
    margin-right: calc(var(--line-height) * 2 / 3);
  }

  nav ul.docs {
    position: relative;
    margin-top: calc(var(--line-height) * 4 / 3);
    padding-top: calc(var(--line-height) * 2 / 3);
    padding-bottom: calc(var(--line-height) * 2 / 3);
  }

  nav ul.docs:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-offside);
  }

  nav ul.docs li {
    display: inline-block;
  }

  nav ul.docs li a {
    padding: 0;
    margin-right: 1em;
  }

  nav ul.docs li a:after {
    content: 'â„';
    margin-left: 1em;
    color: var(--color-tertiary);
    pointer-events: none;
  }

  nav ul.docs li:before,
  nav ul.docs li:last-of-type:after,
  nav ul.docs li:last-of-type a:after,
  nav ul.docs li a span,
  nav ul.api, nav h4 {
    display: none;
  }

  section {
    padding:
      calc(var(--line-height) * 1 / 3)
      calc(var(--line-height) * 1)
      0;
    margin-left: 0;
  }

  header {
    display: none;
  }

  footer {
    margin-top: calc(var(--line-height) * 2);
  }

  .home > hr {
    height: calc(var(--line-height) * 1);
  }

  .home h1 {
    color: inherit;
    text-align: left;
    font-size: 1em;
    margin-bottom: calc(var(--line-height) * 1);
  }

}

@media screen and (max-width: 640px) {

  body {
    font-size: calc(var(--body-size) - 2px);
  }

  .download pre {
    margin-right: 0;
  }

  .download a {
    display: none;
  }

}
