@media screen and (max-width: 960px) {
  body {
    font-size: calc(var(--size-body) - 2px);
  }
}

@media screen and (max-width: 800px) {
  header {
    width: auto;
  }
  /*header, nav > div {
    position: absolute;
  }*/
}
