nav {
  position: fixed;
  width: var(--menu-width);
  height: 100%;
  top: 0;
  padding:
    calc(var(--line-height) * 4 / 3)
    calc(var(--line-height) * 1)
    0;
  background-color: var(--color-menu);
  border-right: 1px var(--color-offside) solid;
  overflow: auto;
}

nav .logo {
  height: calc(var(--line-height) * 8 / 3);
  display: block;
  margin: 0 auto;
}

nav .type {
  height: calc(var(--line-height) * 5 / 6);
  display: block;
  margin:
    calc(var(--line-height) * 2 / 3)
    auto
    calc(var(--line-height) * 1);
}

nav ul.docs {
  margin: 0;
  list-style-type: none;
}

nav ul.docs li {
  position: relative;
}

nav ul.docs li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-offside);
}

nav ul.docs li:last-of-type:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-offside);
}

nav ul.docs li a {
  position: relative;
  text-decoration: none;
  color: var(--color-literal);
  display: block;
  font-size: calc(1em * var(--small-size));
  line-height: calc(var(--line-height) / var(--small-size));
  padding: calc(var(--line-height) * 1 / 3 / var(--small-size)) 0;
}

nav ul.docs li a span {
  float: right;
  color: var(--color-tertiary);
  font-size: calc(1em / var(--small-size) * var(--big-size));
  display: inline-block;
  width: 1em;
  text-align: center;
}

nav ul.docs a:hover {
  color: var(--color-accent);
}

nav h4 {
  position: relative;
  font-size: 1em;
  line-height: var(--line-height);
  padding-top: calc(var(--line-height) * 3 / 3);
  margin-top: calc(var(--line-height) * 3 / 3);
  margin-bottom: calc(var(--line-height) * 1 / 3);
}

nav h4:first-of-type {
  padding-top: 0;
  margin-top: calc(var(--line-height) * 3 / 3);
}

nav h4:first-of-type:before {
  display: none;
}

nav h4:before {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-offside);
}

nav ul.api {
  list-style-type: none;
  margin-left: 0;
  color: var(--color-secondary);
  font-family: var(--mono-font);
}

nav ul.api li {
  font-size: calc(1em * var(--small-size));
  line-height: calc(var(--line-height) / var(--small-size));
  margin-bottom: calc(var(--line-height) * 1 / 3);
}

nav ul.api li:before {
  content: '⇒';
  width: 1em;
  font-size: calc(1em / var(--small-size) * var(--big-size));
  line-height: calc(1em / var(--big-size));
  display: inline-block;
  text-align: center;
  margin-right: calc(1em * 1 / 3);
}

nav ul.api li.property:before {
  content: '↣';
}

nav ul.api li a {
  text-decoration: none;
  color: var(--color-literal);
}

nav ul.api li a:hover {
  color: var(--color-accent);
}
