@custom-selector :--header h1, h2, h3, h4, h5, h6;

/*
Use `border-box` properly:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: var(--font-body);
  font-size: var(--size-body);
  color: var(--color-body);
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: inherit;
}

:--header {
  color: var(--color-solid);
  font-weight: inherit;
  font-family: var(--font-alt);
  font-size: calc(1em * 4 / 3);
  line-height: calc(var(--line-height) * 3 / 4);
  margin: calc(var(--line-height) * (5 / 2) * (3 / 4)) 0
    calc(var(--line-height) * (1 / 2) * (3 / 4));
}

:--header a.anchor {
  color: var(--color-light);
  margin-left: calc(1em * 1 / 2);
  text-decoration: none;
}

p, ul, ol, pre, table, blockquote {
  margin: 0 0 calc(var(--line-height) * 1 / 2);
}

ul, ol {
  padding: 0 0 0 1em;
}

li p {
  margin: 0;
}

li pre {
  margin: calc(var(--line-height) * 1 / 2) 0;
}

blockquote {
  color: var(--color-alt);
  border-left: 3px rgba(0, 0, 0, 0.125) solid;
  padding-left: calc(1em * 2 / 3);
}

pre, code {
  font-family: var(--font-mono);
  font-size: var(--size-mono);
}

pre {
  padding: calc(var(--line-height) * 1 / 2) calc(var(--line-height) * 2 / 3);
  margin: calc(var(--line-height) * 3 / 2) 0;
  background-color: rgba(0, 0, 0, calc(1 / 25));
  border-radius: var(--border-radius);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, calc(1 / 12));
  line-height: var(--mono-height);
  overflow: auto;
}

pre.install code:before {
  content: '$ ';
  color: var(--color-light);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  box-shadow: 0 1px 0 rgba(0, 0, 0, calc(1 / 16)) inset;
  width: 100%;
}

table td, table th {
  padding:
    calc(var(--line-height) * 1 / 3)
    calc(var(--line-height) * 2 / 3);
}

table th {
  hyphens: none;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, calc(1 / 32));
}

tbody code {
  background: none;
  padding: 0;
}

tbody tr:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, calc(1 / 32));
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

section:after {
  content: ' ';
  display: block;
  clear: both;
}

header {
  background-color: var(--color-accent);
  position: relative;
  overflow: hidden;
  padding-top: calc(var(--line-height) * 2);
}

header > div,
header nav > div {
  max-width: var(--max-width);
  padding: 0 calc(var(--line-height) * 2);
  margin: 0 auto;
}

header .logo-type {
  display: block;
  height: calc(var(--line-height) * 5 / 3);
  margin: 0 auto calc(var(--line-height) * 5 / 3);
}

header nav {
  clear: both;
  position: relative;
  text-align: center;
  padding-top: calc(var(--line-height) * 2 / 3);
  padding-bottom: calc(var(--line-height) * 2 / 3);
  background-color: color(var(--color-accent) w(+ 16%));
  border-top: 1px color(var(--color-accent) b(+ 6%)) solid;
}

header nav a {
  color: var(--color-link);
  display: inline-block;
}

header nav a:after {
  content: 'â„';
  margin-right: calc(1em * 5 / 6);
  padding-left: calc(1em * 5 / 6);
  color: color(var(--color-accent) b(+ 25%));
  font-weight: normal;
}

header nav a:last-of-type:after {
  display: none;
}

article {
  background-color: var(--color-background);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: calc(var(--line-height) * 5 / 2) calc(var(--line-height) * 2);
  hyphens: auto;
}

article > h1:first-of-type {
  margin-top: 0;
}

article a {
  color: var(--color-link);
  text-decoration: underline;
}

footer {
  text-align: center;
  max-width: var(--max-width);
  position: relative;
  margin: calc(var(--line-height) * 1) auto calc(var(--line-height) * 3);
  color: var(--color-alt);
}

footer p {
  margin: 0;
}

footer p:last-of-type {
  color: rgba(0, 0, 0, calc(1 / 8));
  margin-top: calc(var(--line-height) * 1 / 2);
  font-size: 2em;
}

#corner {
  position: absolute;
  top: 2.2em;
  right: -4.4em;
  transform: rotate(45deg);
  transform-origin: center;
  width: 15em;
  line-height: calc(var(--line-height) * 4 / 3);
  text-align: center;
  display: block;
  background-color: #fca889;
  color: #fff;
}
