html, body {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: var(--body-size);
  font-family: var(--body-font);
  line-height: var(--line-height);
  padding-right: calc(var(--line-height) * 2);
  padding-left: calc(var(--line-height) * 2);
}

p, pre, table, ul, ol {
  margin: 0 0 calc(var(--line-height) * 1);
}

a {
  color: inherit;
  transition: color var(--fade-speed) ease;
}

a:hover {
  color: var(--color-accent);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: calc(1em * var(--big-size));
  line-height: calc(var(--line-height) / var(--big-size));
  margin-top: calc(var(--line-height) / var(--big-size) * -1 / 3);
  padding-top: calc(var(--line-height) / var(--big-size) * 4 / 3);
  margin-bottom: calc(var(--line-height) / var(--big-size) * 1);
}

ul, ol {
  margin-left: calc(var(--line-height) * 1);
}

main {
  margin: auto;
  max-width: var(--max-width);
  hyphens: auto;
  position: relative;
  min-height: 100%;
}

main:before {
  position: absolute;
  z-index: -1;
  content: ' ';
  display: block;
  top: 0;
  right: 100%;
  width: 200%;
  height: 100%;
  background-color: var(--color-offside);
}

section {
  padding:
    calc(var(--line-height) * 4 / 3)
    calc(var(--line-height) * 1)
    calc(var(--line-height) * 2 / 3)
    calc(var(--line-height) * 3);
  margin-left: var(--menu-width);
}

pre, code {
  font-family: var(--mono-font);
}

pre {
  box-shadow: 0 1px 0 var(--color-offside) inset;
  background-color: var(--color-menu);
  padding:
    calc(var(--line-height) * 1 / 3)
    calc(var(--line-height) * 2 / 3);
  border-radius: var(--border-radius);
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  box-shadow: 0 1px 0 var(--color-offside) inset;
  width: 100%;
}

table td, table th {
  padding:
    calc(var(--line-height) * 1 / 3)
    calc(var(--line-height) * 2 / 3);
}

table th {
  background-color: var(--color-menu);
}

tbody code {
  background: none;
  padding: 0;
}

tbody tr:nth-of-type(2n) {
  background-color: var(--color-menu);
}

footer {
  position: relative;
  text-align: right;
  margin-top: calc(var(--line-height) * 3);
  padding-top: calc(var(--line-height) * 2 / 3);
}

footer:before {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-offside);
}

footer p {
  font-size: calc(1em * var(--small-size));
  line-height: calc(var(--line-height) / var(--small-size));
  color: var(--color-secondary);
}

footer span:before {
  content: '⁄';
  margin: 0 1.2em;
  pointer-events: none;
}

header {
  text-align: right;
  margin-bottom: calc(var(--line-height) * 7 / 6);
}

header a {
  text-decoration: none;
  font-size: calc(1em * var(--small-size));
  line-height: calc(var(--line-height) / var(--small-size));
  color: var(--color-secondary);
}

header a:hover {
  color: var(--color-accent);
}

header a:after {
  content: '⁄';
  margin: 0 1.2em;
  color: var(--color-secondary);
  pointer-events: none;
}

header a:last-of-type:after {
  display: none;
}

hr {
  display: block;
  height: 0;
  width: 100%;
  position: relative;
}

hr:before {
  position: absolute;
  top: 100%;
  left: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-offside);
}

.anchor {
  text-decoration: none;
  color: var(--color-tertiary);
  margin-left: 0.5em;
}
