:root {

  /* colors */
  --color-background: #FFF;
  --color-body: rgba(0, 0, 0, 0.75);
  --color-alt: rgba(0, 0, 0, 0.5);
  --color-light: rgba(0, 0, 0, 0.25);
  --color-accent: #FE7;
  --color-link: #36967B;
  --color-literal: #8B599E;
  --color-attribute: #B55E3E;

  /* fonts */
  --font-body:
    'Avenir', /* Mac */
    'DejaVu Sans', /* Linux */
    'Calibri', /* Windows */
    sans-serif /* Generic */;
  --font-mono:
    'Monaco',
    'Consolas',
    'Andale Mono',
    'Lucida Console',
    monospace;

  /* measurements */
  --max-width: 55em;
  --size-body: 15px;
  --size-mono: 15px;
  --line-height: calc(1em * 17 / 10);
  --mono-height: calc(1em * 7 / 5);
  --border-radius: calc(1em / 2);
  --fade-speed: 0.15s;

}
