:root {

  /* colors */
  --color-background: #FFF;
  --color-solid: #000;
  --color-body: rgba(0, 0, 0, 0.6666);
  --color-alt: rgba(0, 0, 0, 0.4444);
  --color-light: rgba(0, 0, 0, 0.2222);
  --color-accent: #FE7;
  --color-link: #36967B;
  --color-literal: #8B599E;
  --color-attribute: #B55E3E;

  /* fonts */
  --font-body: Helvetica, Arial, sans-serif;
  --font-mono: monospace;

  /* measurements */
  --max-width: 49em;
  --size-body: 17px;
  --size-mono: calc(1em * 16 / 17);
  --line-height: calc(1em * 5 / 3);
  --mono-height: calc(1em * 4 / 3);
  --border-radius: calc(1em / 3);

}
