<div class="api">
  {{#.}}
    <h6>{{module}} <span>({{#path}}<a href="https://github.com/fortunejs/fortune/blob/master/lib/{{.}}"><em>{{.}}</em></a>{{/path}})</span></h6>
    {{#docs}}
      <h2 id="{{context.anchor}}">
        {{#context.isClass}}
        <span class="class">class</span>
        {{/context.isClass}}
        {{#context.static}}
        <span class="class">static</span>
        {{/context.static}}
        {{#context.isConstructor}}
        <span class="class">new</span> {{context.target}}
        {{/context.isConstructor}}
        {{^context.isConstructor}}
        {{{context.path}}}
        {{/context.isConstructor}}<!--
        -->{{#context.isFunction}}<!--
          -->({{{comment.params}}})<!--
        -->{{/context.isFunction}}<!--
        -->{{#comment.returnType}}<!--
        --><span class="arrow">⇒</span><!--
        --><span class="return">{{comment.returnType}}</span><!--
        -->{{/comment.returnType}}<!--
      --><a href="#{{context.anchor}}" class="anchor">#</a></h2>
      {{{comment.description}}}
    {{/docs}}
    <hr>
  {{/.}}
</div>
