<div class="home">
  <h4>Info</h4>
  <h1>Fortune is a library that provides interactions with data, essential building blocks of web applications.</h1>
  <p>The latest version is <strong>{{version}}</strong>. Get it from <code>npm</code>:</p>
  <div class="download">
    <pre><code>npm install fortune --save</code></pre><!--
    --><a href="https://github.com/fortunejs/fortune/archive/master.zip"><span>⚑</span>Download</a>
  </div>
  <hr>
  <h4>Example</h4>
</div>
