<h1 class="intro">Readme</h1>
<p class="intro">Fortune.js is a <a href="https://en.wikipedia.org/wiki/Database_abstraction_layer">database abstraction layer</a> for data-driven applications, with networking out of the box.</p>
<pre class="install"><code><a href="/fortune.min.js">npm install fortune --save</a></code></pre>
