<p>Fortune is a high-level I/O library for network applications. It provides an implementation of <a href="https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model">entity-relationship modelling</a>, is agnostic about data storage, and can be used to power real-time (<a href="http://fortunejs.com/api/#net-websocket">WebSocket</a>) and <a href="https://en.wikipedia.org/wiki/Hypermedia">hypermedia</a> applications (<a href="http://martinfowler.com/articles/richardsonMaturityModel.html">RMM Level 3</a>).</p>
<p>Version 1.0 was released on 16 August 2015, which should be considered stable. The latest version is <strong>{{version}}</strong>, get it from <code>npm</code>:</p>
<pre class="install"><code>npm install <span class="hljs-literal">fortune</span> <span class="hljs-string">--save</span></code></pre>
<h4>Example</h4>
